---
import Layout from "../layouts/Layout.astro";

import { Button } from "@/components/ui/button";
---

<Layout title="Pomodoro Timer">
	<main class="flex flex-col items-center justify-center min-h-screen py-2">
		<h1 class="text-center text-3xl font-bold">
			Pomodoro Timer</h1>
		<p class="text-center w-2/3 py-5">
			La técnica del pomodoro es un método de gestión del tiempo que
			consiste en dividir el trabajo o el estudio en intervalos de 25 minutos, llamados pomodoros, seguidos de pausas de 5 minutos. Después de cuatro pomodoros, se hace una pausa más larga de 15 a 30 minutos. El objetivo es mejorar la concentración, la productividad y la calidad del trabajo o el aprendizaje. Esta técnica fue creada por Francesco Cirillo en la década de 1980, inspirado por un temporizador de cocina con forma de tomate (pomodoro en italiano).
		</p>
		<a href="/pomodoro">
			<Button>Iniciar</Button>
		</a>
	</main>
</Layout>
