---
import Layout from "../layouts/Layout.astro";

import { Button } from "@/components/ui/button";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Pomodoro Timer</h1>
		<a href="/pomodoro">
			<Button>iniciar</Button>
		</a>
	</main>
</Layout>
