---
import Layout from "../layouts/Layout.astro";

import { Button } from "@/components/ui/button";
---

<Layout title="Pomodoro Timer">
	<main class="flex flex-col items-center justify-center min-h-screen py-2 bg-gray-100">
		<h1>Pomodoro Timer</h1>
		<a href="/pomodoro">
			<Button>iniciar</Button>
		</a>
	</main>
</Layout>
